[Unit]
Description=This unit will start after internet connection
#Requires=mariadb.service
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
Type=simple
WorkingDirectory=/home/__user/fizo202/
ExecStart=/usr/bin/bash -c 'cd /home/__user/fizo202 && ./scripts/run.sh'
Environment=
User=__user

[Install]
WantedBy=multi-user.target